table.table.quizzes
  thead
    tr
      td Name
      td
      td
  tbody
    | {{#each quiz in controller.controllers.quizzes}}
    tr
      td
        | {{#link-to 'quiz.edit' quiz}}
        | {{quiz.title}}
        | {{/link-to}}
      td
        | {{#view App.PreviewLinkView quizBinding='quiz' class='btn btn-info'}}
        | preview
        | {{/view}}
      td
        <button class='btn btn-danger' {{action 'removeQuiz' quiz target='controller.controllers.quizzes'}}>
        | remove
        </button>
    | {{/each}}