table.table.quizzes
  thead
    tr
      td Name
      td
      td
  tbody
    | {{#each quiz in controller.controllers.quizzes}}
    tr
      td
        | {{#link-to 'quiz.edit' quiz class="edit-link"}}
        | {{quiz.title}} 
        span.glyphicon.glyphicon-pencil
        | {{/link-to}}
      td
        <button class='btn btn-default' {{action 'showEmbed' quiz target='controller.controllers.quizzes'}}>
        span.glyphicon.glyphicon-cog
        |  Embed
        </button>
      td
        | {{#view App.PreviewLinkView quizBinding='quiz' class='btn btn-info'}}
        span.glyphicon.glyphicon-globe
        |  View
        | {{/view}}
      td
        <button class='btn btn-danger' {{action 'removeQuiz' quiz target='controller.controllers.quizzes'}}>
        span.glyphicon.glyphicon-trash
        |  Remove
        </button>
    | {{/each}}