| {{#if view.record.image}}

div

  | {{view App.ImageView srcBinding='view.record.image' class='form-image'}}

| {{/if}}

div

  | {{#if view.record.image}}

  .form-group
    .col-sm-10

      | {{#view view.upload.DropView}}
      | Change
      | {{/view}}

    <button {{action 'removeImage' view.record target=controller.controllers.quizzes}} type='button' class='col-sm-2 btn btn-danger component upload drop'>
    | Remove Image
    </button>

    .clearfix

  | {{else}}

  | {{#view view.upload.DropView}}
  | upload or drop a file here
  | {{/view}}

  | {{/if}}

div

  | {{view view.upload.ProgressView}}
