<h1>Hey there! You look nice today.</h1>
<p class="lead">Welcome to the ClientName Quiz builder. Click {{#link-to 'new'}}New Quiz{{/link-to}} to create a new Quiz, or view/edit one of the {{#link-to 'quizzes'}}existing quizzes{{/link-to}}.</p>
<br/>
<p class="alert alert-info"><strong>Note:</strong> This project is a work in progress. It's currently using HTML5 LocalStorage as a temporary data source, so all quiz data is stored in your local browser and other users can't see it. That means that <strong>if this is your first time here then you probably can't see any quizzes</strong>. Go ahead and {{#link-to 'new' class="alert-link"}}create one{{/link-to}}!</p>
