<p><button class="btn btn-info btn-sm" {{action 'createQuestion'}}><span class="glyphicon glyphicon-plus"></span> Add new question</button></p>
<table class="table table-striped">
	{{#each model}}
		<tr>
			<td>{{this.question}}</td>
			<td>{{this.id}}</td>
			<td><button class="btn btn-danger btn-xs pull-right" {{action 'removeQuestion' this}}>Delete</button></td>
		</tr>
	{{/each}}
</table>
